@import "tailwindcss";

@source "../app/**/*.tsx";
@source "../components/**/*.tsx";

@theme {
  --color-accent: #CAFF00;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  background-color: #0A0A0A;
  color: white;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
