@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

* {
  border-color: #222222;
}

body {
  background: #0a0a0a;
  color: #ffffff;
  font-family: var(--font-sans), sans-serif;
}
